header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.479);
}

.header1{
    background-color:#4aacd1 ;
    display: flex;
    padding: 8px 15px;
    height: 20px;
    align-items: center;
}

.cerrado{
    font-family: Arial, Helvetica, sans-serif;
}

.a1{
    color: white;
    position:absolute;
    right: 20px;
    display: flex;
}

.a2{
    color: white;
    position: absolute;
    left: 20px;
    display: flex;
    font-weight: bold;
}

.header2{
    display: flex;
    align-items: center;
    background-color: white;
    height: 90px;
}

.c1{
    list-style: none;
    padding: 0;
    text-align: right;
}

.c1 li{
    display: inline;
    margin-left: 20px;
}

.c2{
    display: flex;
    position: absolute;
    right: 30px;
    color:rgb(226, 89, 35);
}

.d1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 30px;
}

.bloque1{
    display: flex; 
    padding: 15px 0px; 
}

.img1{
    height: 478px;
    width: 638px;
}

.text1{
    color: white;
    background-color: #328396;
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.forma1{
    font-size: 18px;
}

.h2b1{
    font-weight: bold;
}

.boton1{
    display: inline-block;
    padding: 10px 20px;
    background-color: #efd622;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.bloque2{
    display: flex;
    padding: 15px 0px; 
}

.text2{
    color: white;
    background-color: #5bae94;
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 20px;
}

.img2{
    height: 410px;
    width: 638px;
}

.h2b2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.boton2{
    display: inline-block;
    padding: 10px 20px;
    background-color: #c74428;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.forma2{
    width:385px ;
    height: 250px;
    justify-content: center;
    align-items: center;  
}

.cajas{
    display: flex;
    padding: 15px 0px;
}

.caja1{
    padding-right: 15px;
}

.img3{
    height: 372px;
    width: 400px;
}

.textocaja1{
    background-color: #1188c2;
    color: white;
    text-align: center;
    font-size: 18px;
    height: 85px;
}


.caja2{
    padding-right: 15px;
    padding-left: 15px;
    
}

.img4{
    height: 372px;
    width: 400px;
}

.textocaja2{
    background-color: #e8c425;
    color: white;
    text-align: center;
    font-size: 18px;
    height: 85px;
}

.caja3{
    padding-left: 15px;
}

.img5{
    height: 372px;
    width: 400px;
    
}

.textocaja3{
    background-color: rgb(245, 149, 0);
    color: white;
    text-align: center;
    font-size: 18px;
    height: 85px;
}

.bloque3{
    display: flex; 
    padding: 15px 0px; 
}

.img6{
    height: 410px;
    width: 680px;
}

.textoblock3{
    color: white;
    background-color: #f5bc25;
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.forma4{
    height: 290px;
    width: 450px;
    justify-content: center;
    align-items: center;   
    font-size: 18px;
}

.h2block3{
    font-weight: bold;
    font-size: 21px;
}


.boton3{
    margin-bottom: 10px;
    display: block;
    padding: 10px 20px;
    background-color: #03a387;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 180px;
    height: auto;

}

.bloque4{
    display: flex; 
    padding: 15px 0px; 
}

.img7{
    height: 410px;
    width: 680px;
}

.textoblock4{
    color: white;
    background-color: #e90101;
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.h2block4{
    font-weight: bold;
}

.boton4{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fecd07;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    width: 250px;
    height: auto;

}

.forma5{
    width: 400px;
    height: 220px;
    justify-content: center;
    align-items: center;  
}

footer{
    display: flex;
    background-color: rgb(232, 236, 239);
    
}

.cuerpo1{
    width: 230px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 45px;
}

.cuerpo2{
    width: 230px;
    height: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.cuerpo3{
    width: 230px;
    height: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 80px;
}

.cuerpo4{
    width: 275px;
    height: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

